body{background-image:url("https://marymaxim.cdn.speedyrails.net/media/catalog/product/cache/afad95d7734d2fa6d0a8ba78597182b7/m/2/m27867.jpg");
background-size:300px;}

.image1{width:300px;



}
.image2{width:300px;

}
.ps5{height:4px;
    width:4px;
font-size:40px;
color:#ff2222;
font-family: "Arial Black", Gadget, sans-serif;
font-style: italic;
    font-size: 40px;
}
.image3{width:300px;}
.clothing{height:4px;
    font-size:40px;
    width:4px;
    color:#3E49FF;
    font-family: "Comic Sans MS", cursive, sans-serif;

    
    }
.image4{width:300px;}
.balenciagas{height:4px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:40px;
color: #33FF35;}